@{
    ViewData["Title"] = "Dogs & Puppies";
}

<style>
    body {
        background: url('https://wallpapercat.com/w/full/a/4/f/197575-1920x1280-desktop-hd-dog-wallpaper-photo.jpg') no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="text-center mb-4">
    <h1 class="display-4">Welcome Customer!</h1>
    <p>Your CUTIEE Dogs and Puppies are here!</p>
</div>

<div class="accordion" id="catsKittensAccordion">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        It's Bantay!
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                    <div class="accordion-body text-center">
                        <img src="https://preview.redd.it/this-is-a-philippine-witch-dog-theyre-living-independently-v0-xxee38gyxbi81.jpg?width=320&crop=smart&auto=webp&s=e2b8c20a5cf469f0ef13ab2722c0a5b61625019b"
                             class="img-fluid rounded mb-2"
                             style="max-height: 200px; object-fit: cover;"
                             alt="It's Bantay!'" />
                        <p>Bantay is the classic, loyal asong Pinoy who guards the bahay day and night.<p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        Putot the Cutie Pie!
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE7A345hvWBexasJTymhGgfSO08THtXmQGjjLuTdfrmOb-NyRQAJYBFCpTQyiInyzk3Lc&usqp=CAU"
                             class="img-fluid rounded mb-2"
                             style="max-height: 200px; object-fit: cover;"
                             alt="Putot the Cutie Pie!" />
                        <p>Putot is a brave puppy with a tiny body but a huge heart, always ready for adventure.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        Ping the Hero!
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                    <div class="accordion-body text-center">
                        <img src="https://news.cgtn.com/news/304d444d336b7a6333566d54/img/5cbd38f6-52af-4ef5-9aeb-edc13a79af36.jpg"
                             class="img-fluid rounded mb-2"
                             style="max-height: 200px; object-fit: cover;"
                             alt="Ping the Hero!" />
                        <p>Ping is a mighthy here, Don't fall from his look as he save someone already!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                        Ligaya, Your LIgaya!
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                    <div class="accordion-body text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy6WMsCLPgbEbPto0s9NfikTcg8rHYFmTDjw&s"
                             class="img-fluid rounded mb-2"
                             style="max-height: 200px; object-fit: cover;"
                             alt="Shadow the Cat" />
                        <p>Ligaya is maligaya — You better watch out as this beauty is a die for!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                        Tagpi the Baranggay Doggy!
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                    <div class="accordion-body text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFG6qJ0Bg_iGTg-KS9Hz0V7VWrL7cP9ZeQcA&s"
                             class="img-fluid rounded mb-2"
                             style="max-height: 200px; object-fit: cover;"
                             alt="Tagpi the Barnaggay Doggy!" />
                        <p>Tagpi ia a playful dog that is a suki and love by everyone in the Barangay.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                        Dungka the Aspin!
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                    <div class="accordion-body text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8QyUmy-y-fUlEij_eudFEENgqPaBaCHAy5Q&s"
                             class="img-fluid rounded mb-2"
                             style="max-height: 200px; object-fit: cover;"
                             alt="Dungka the Aspin!" />
                        <p>Dungka is strick yet calm Aspin dog who watches over the younger children like their bodyguard.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

